html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  width: 60%;
}

img {
  width: 100%;
}

h1 {
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  text-align: center;
  font-size: 0.5rem;
  font-style: italic;
}
