html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  width: 60%;
}

img {
  width: 100%;
}

h1 {
  font-family: "Patua One", cursive;
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}
ul {
  list-style-type: none;
}

a {
  color: #793284;
  text-decoration: none;
}

a:hover {
  color: #b42885;
  text-decoration: underline;
}

nav {
  font-family: "Patua One", cursive;
}
