html {
  background-color: #f2f1ed;
}

html {
  font-family: Georgia, serif;
}

html {
  width: 60%;
}

img {
  width: 100%;
}

h1 {
  color: #5d8432;
}

h1 {
  text-transform: uppercase;
}

figcaption {
  text-align: center;
}

figcaption {
  font-size: 0.5rem;
}

figcaption {
  font-style: italic;
}
